---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";

import { SupportButton } from "../../components/SupportButton";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");

  const paths = blogEntries.map((entry) => {
    
    const trimmedSlug = entry.slug.split('-').slice(1).join('-');
    
    return {
      params: { slug: trimmedSlug },
      props: { entry },
    }
});

  return paths;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={`${entry.data.title} | Jacob Packert`}>
  <Header slot="header" withBlogLink />
  <article>
    <h1>{entry.data.title}</h1>
    <p>{entry.data.date}</p>
    <h3>{entry.data.description}</h3>
    <Content />
    <SupportButton id={entry.data.id} client:visible />
  </article>
</BaseLayout>
